.movies-explorer-container {
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: min(12rem, 6vw);
    min-height: 50rem;

    .filters {
        display: flex;
        margin: 4rem 0;
        width: 100%;
        justify-content: space-between;

        @media screen and (max-width: 780px) and (min-width: 375px){                   
            flex-direction: column-reverse;
            align-items: center;
            row-gap: 2rem;
        }

        &::ng-deep mat-paginator {
            background-color: transparent;
            color: var(--color-primary-white);

            .mat-paginator-container {
                font-size: 1.4rem;
                font-family: Arial;
                font-weight: 600;

                @media screen and (max-width: 780px) and (min-width: 375px){                   
                    justify-content: center;
                }

                .mat-select-value-text {
                    color: var(--color-primary-white);
                }

                .mat-select-arrow {
                    color: var(--color-primary-white);
                }

                .mat-form-field-underline {
                    background-color: var(--color-primary-white);
                }
            }
        }

        .right {
            display: flex;
            align-items: center;
            column-gap: 4rem;

            @media screen and (max-width: 780px) and (min-width: 375px){                   
                width: 100%;
            }

            .search {
                display: flex;
                background: white;
                padding: 1rem 2rem;
                border-radius: 4rem;

                @media screen and (max-width: 780px) and (min-width: 375px){                   
                    width: 100%;
                    justify-content: space-between;
                }
    
                input {
                    border: none;
                    font-family: Arial;
                    font-size: 1.4rem;

                    @media screen and (max-width: 780px) and (min-width: 375px){                   
                        width: 100%;
                    }
    
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }

    .title {
        color: var(--color-grey-black-1);
        font-size: min(8rem, 4.4vw);
        font-weight: 600;
        text-align: center;
        line-height: min(6.6rem, 4vw);
        font-family: Arial;
    }

    .movies-cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 30rem);
        justify-content: space-between;
        row-gap: 8rem;

        @media screen and (max-width: 700px) and (min-width: 605px){                   
            grid-template-columns: repeat(auto-fill, 24rem);
        }

        @media screen and (max-width: 604px) and (min-width: 480px){                   
            grid-template-columns: repeat(auto-fill, 38vw);
        }

        @media screen and (max-width: 479px) and (min-width: 350px){                   
            grid-template-columns: repeat(auto-fill, 40vw);
        }
    }
}

.no-results-container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    padding: 4rem 0;

    .empty-icon {
        filter: invert(1);
        width: 16rem;
    }

    .message {
        color: var(--color-primary-white);
        font-family: Arial;
        font-size: 1.6rem;
    }
}