<div class="footer-container">
    <img src="assets/icons/favicon.svg" alt="favicon">
    <div class="contact-us">
        <span class="title">Contact us</span>
        <div class="contact-info">
            <span class="email">support@nextmovies.com</span>
            <span class="opening-hours">Mon - Fri | 6:00 - 5:00 pm PT</span>
        </div>
        
    </div>
    <div class="social-links">
        <img src="assets/icons/social/facebook-share-icon.svg" alt="facebook" class="social-link">
        <img src="assets/icons/social/linkedin-share-icon.svg" alt="linkedin" class="social-link">
        <img src="assets/icons/social/twitter-share-icon.svg" alt="twitter" class="social-link">
        <img src="assets/icons/social/instagram-share-icon.svg" alt="instagram" class="social-link">
        <img src="assets/icons/social/youtube-share-icon.svg" alt="youtube" class="social-link">
    </div>
</div>