.movie-full-info-container {
    padding: 3rem;
    display: flex;
    align-items: center;
    column-gap: 8%;
    padding: 2rem 6rem;
    font-family: Arial;

    @media screen and (max-width: 1080px) and (min-width: 375px){                   
        flex-direction: column;
        padding: 2rem;
    }

    .left-content {
        .image-wrapper {
            height: min(50rem, 40vh);

            @media screen and (max-width: 1080px) and (min-width: 375px){                   
                height: min(50rem, 36vh);
            }

            .image {
                height: 100%;
            }
        }
    }

    .right-content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        justify-content: space-between;

        .movie-info {
            display: flex;
            flex-direction: column;
            row-gap: 2rem;

            .title {
                font-weight: bold;
                font-size: min(4.5rem, 2vw);
                line-height: 3.1rem;
                text-transform: uppercase;

                @media screen and (max-width: 1080px) and (min-width: 375px){                   
                    font-size: min(6.5rem, 5vw);
                    line-height: min(4.5rem, 5.5vw);
                    margin-top: 2rem;
                }
            }

            .runtime {
                font-size: 2.5rem;
                line-height: 3.1rem;
                
            }

            .rating {
                display: flex;
                align-items: center;

                .rating-star {
                    width: 3.5rem;
                    height: auto;
                    filter: invert(79%) sepia(30%) saturate(3645%) hue-rotate(359deg) brightness(106%) contrast(106%);
                }
        
                &-value {
                    font-size: 2.5rem;
                    line-height: 2.1rem;
                    margin-left: 1rem;
                    height: 1.5rem;
                   
                }
            }

            .synopsis {
                font-size: min(3rem, 1.5vw);
                line-height: 3.1rem;
                font-family: Georgia;

                @media screen and (max-width: 920px) and (min-width: 375px){                   
                    font-size: min(1.8rem, 3vw);
                }
            }
        }

        @media screen and (max-width: 920px) and (min-width: 375px){                   
            &::ng-deep custom-button .custom-button {
                width: 100%;
            }
        }
    }
}