<div class="movie-full-info-container">
    <div class="left-content">
        <div class="image-wrapper">
            <img [src]="movieData?.largeimage" alt="movie-image" class="image">
        </div>
    </div>
    <div class="right-content" >
        <div class="movie-info">
            <span class="title">{{movieData?.title}}</span>
            <span class="runtime">{{ movieData?.runtime! | runtime }}</span>
            <div class="rating">
                <img src="assets/icons/star.svg" alt="star" class="rating-star">
                <span *ngIf="movieData?.rating; else noRating" class="rating-value">({{movieData?.rating}})/10</span>
                <ng-template #noRating>
                    <span class="rating-value">NA</span>
                </ng-template>
            </div>
            <p class="synopsis" [innerHtml]="movieData?.synopsis">
               
            </p>
        </div>
        <custom-button [label]="'Back to list'" [direction]="'left'" (onClick)="onBackClick()"></custom-button>
    </div>
</div>