
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$next-test-client-primary: mat.define-palette(mat.$indigo-palette);
$next-test-client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$next-test-client-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$next-test-client-theme: mat.define-light-theme((
  color: (
    primary: $next-test-client-primary,
    accent: $next-test-client-accent,
    warn: $next-test-client-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($next-test-client-theme);

html {
    font-size: 10px;
}

body {
    margin: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
  --color-primary-white: #ffffff;
  --color-primary-black: #000000;

  --color-grey-black-1: #231F20;
  --color-grey-black-2: #231F20;

  --color-light-grey-1: #f5f5f5;
}